@import url('https://fonts.googleapis.com/css2?family=Domine&family=Montserrat:wght@100&display=swap');

body{
    background-color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

nav h1{
text-align: center;
color: #212121;
font-size: 30px;
margin: 0px;
}

#heading{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.container{
    margin: auto;
    width: 80%;
    overflow: hidden;
}

#player{
    float: left;
    width: 60%;
}

#sidebar{
    float: right;
    width: 40%;
    border-radius: 0%;
}

h3, h4{
    margin: 0px;
    background-color: aquamarine;
    text-decoration-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic,bold;
}
#sidebar ol{
    list-style-type: none;
    padding-left: 0px;
}

#contentarea{
    padding: 50px 0px 50px 0px;
}

#thumbnail{
    float: left;
    width: 50%;
}

#thumbnail img{
    width: 95%;
}

#thumbnailcontent{
    width: 50%;
    float: right;
}

#sidebar ol li{
    margin-bottom: 10px;
}

.sidebaritem{
    overflow: hidden;
}
.foo {
    text-align: center;
    text-decoration-color: rebeccapurple;
    font-size: larger;
    padding-bottom: 10px;
    background-color: aquamarine;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr {
    height: 5px;
    background-color: blanchedalmond;
    padding:2px;
}
p {
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
